@import '~/scss/module';

.img {
  position: relative;

  > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  // .img_svg

  &_svg {
    > img {
      position: relative !important;
      object-fit: fill;
    }
  }
}
