@import '~/scss/module';

.popup {
  // .popup__body

  &__body {
    @include fill(fixed);

    z-index: 100;
    overflow: auto;

    .popup {
      // .popup__body

      &__body {
        background-color: transparent;
      }
    }
  }

  // .popup__bg

  &__bg {
    @include fill(fixed);

    background-color: rgb(0 0 0 / 80%);
  }

  // .popup__content

  &__content {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100%;
    padding: rem(30) rem(50);
  }

  // .popup__box

  &__box {
    position: relative;
  }

  // .popup__children

  &__children {
    max-width: rem(800);
    padding: rem(30);
    color: #333;
    word-break: break-word;
    background-color: #fff;
    border-radius: rem(5);
  }

  // .popup__cross

  &__cross {
    position: absolute;
    top: rem(-35);
    right: rem(-35);
    width: rem(30);
    height: rem(30);

    &::before,
    &::after {
      position: absolute;
      top: 50%;
      left: 0;
      width: rem(30);
      height: rem(2);
      content: '';
      background-color: #fff;
      border-radius: rem(5);
    }

    &::before {
      transform: rotate(45deg);
    }

    &::after {
      transform: rotate(-45deg);
    }
  }

  // .popup__enter

  &__enter {
    transition: 0.3s ease-out 0s;
  }

  // .popup__enterFrom

  &__enterFrom {
    opacity: 0;

    // .popup__enterFrom_content

    &_content {
      transform: scale(0.95);
    }
  }

  // .popup__enterTo

  &__enterTo {
    opacity: 1;

    // .popup__enterTo_content

    &_content {
      transform: scale(1);
    }
  }

  // .popup__leave

  &__leave {
    transition: 0.2s ease-in 0s;

    // .popup__leaveFrom_content

    &_content {
    }
  }

  // .popup__leaveFrom

  &__leaveFrom {
    opacity: 1;

    // .popup__leaveFrom_content

    &_content {
      transform: scale(1);
    }
  }

  // .popup__leaveTo

  &__leaveTo {
    opacity: 0;

    // .popup__leaveTo_content

    &_content {
      transform: scale(0.95);
    }
  }

  a,
  button {
    transition: opacity 0.3s ease 0s;

    &:hover {
      opacity: 0.5;
    }
  }
}
